.Language-container {
	background-color: rgb(90, 50, 0);
	color: darkorange;
	border-radius: 10px;
	display: inline;
	padding: 3px 5px;
	margin: 5px;
	text-align: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 0.7rem;
	min-width: 20px;
	text-align: center;
}
