.container{
    z-index: 4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
}
.main{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7vw;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(36, 36, 36);
    text-align: left;
    border-radius: 10px;
}

.main h1{

    text-align: center;
    color: darkorange;
    font-size: max(min(6rem, 8.6vw), 4rem);
    font-weight: 600;
    text-align: center;
    background-color: rgb(17, 17, 17);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 0;
}
.main .paragraph_container{
    width: max(min(50vw, 800px), 350px); 
    margin: 10px;
    padding: 20px;
    border-radius: 5px;

}
.main p{
    color: rgb(197, 197, 197);
    text-align: left;
    margin:  25px 0;
    font-size: max(min(25px, 2vw), 20px);
    font-weight: 400;
}

.skills{

    width: max(min(50vw, 800px), 350px); 
    border-top: 3px solid black;
    margin: auto;
    padding: 2.5vh;

}
.skills h3{
    font-size: 15px;
    color: rgb(204, 204, 204);
    font-weight: 600;
    float: left;
    width: 50%; 
    font-size: max(min(20px, 1.6vw), 17px);

}
.skills h3::before{
    content: ' ';
    height: 10px;
    width: 10px;
    background-color: darkorange;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
}

.skills .tiles{
    text-align: right;
    float: right;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;

}
.skills .skill{
    background-color: transparent;
    color: darkorange;
    display: inline-block;
    padding: 3px;
    min-width: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;

}
