*{
    margin: 0;
    padding: 0;
}

.feedback_page{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(23, 23, 23);
    background-image: url('../images/carl.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 5;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback_page .container{
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
    box-shadow: -3.5vw 5vh 0px 0 rgb(0, 0, 0), 3.5vw 5vh 0px 0 rgb(0, 0, 0);

}

.feedback_page .container .form{
    text-align: left;
    float: left;
    padding: 54px max(10px, 2vw);
    height: 367px;

    width: max(300px, 27vw);
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 15px 0px 0px 15px;
}

.feedback_page .container .img{
    width: max(300px, 28vw);
    height: 477px;
    float: right;
    background-color: rgb(245, 245, 245);
    background-image: url('../images/marjan.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

.feedback_page .container .img p::before{
    content: " *some classy line/embroidery + signature?";
    font-size: 13px;
    border-bottom: 1px solid black; 
    width: 100%;
    height: 2px;
    display: block;
    background-color: black;
    margin-bottom: 5vh;
    margin-top: 40%;    

}
.feedback_page .container .img p{
    font-family: 'Courgette', cursive;
    color: black;
    font-size: max(3vw, 35px);
    text-align: left;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 800;

}
.feedback_page .container .img h1{
    font-family: 'Courgette', cursive;
    color: rgb(116, 64, 0);
    font-size: max(30px, 2.3vw);
    vertical-align: middle;
    padding: 10px 30px;
    font-weight: 200;
    text-align: left;
}
.feedback_page .container .img h2{
    font-family: 'Courgette', cursive;
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 800;
    text-align: right;
    position: relative;
    top: 40px;
}
.feedback_page .container  .banner{
    color: white;
    display: block;
}
.feedback_page  .container .banner::after{
    content: " ";
    width: 40px;
    height: 5px;
    display: block;
    background-color: darkorange;
    margin: 10px;
}

.feedback_page input, .feedback_page textarea{
    display: block;
    width: max(250px, 23vw);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(170, 170, 170);
    color: white;
    font-size: 16px;
    margin: 10px;
    outline: none;
    transition: font-size 0.3s ease-in-out;
    height: 30px;
}
.feedback_page input:focus, .feedback_page textarea:focus{
    outline: none;
    border-bottom: 1px solid white;
    font-size: 18px;

}
.feedback_page textarea{
    margin-top: 10px;
    height: 80px;
}

.send_button{
    display: block;
    margin-left: 10px;
    background-color: darkorange;
    border: 5px solid darkorange;
    padding: 0px;
    border-radius: 5px;
    width: max(270px, 24.5vw);
    margin-top: 20px;
    background-size: 200% 200%;
    background-image: linear-gradient( -90deg,  rgb(189, 104, 0) 50%, transparent 50%);
    transition: background-position 0.7s;

}
.send_button:hover{
    background-position: -100% 200%;
}
.send_button:focus{
    border: 5px solid darkorange;
    outline: none;
}
.send_button h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline;
    vertical-align: middle;
    margin-left: 100px;
}
.send_button i{
    vertical-align: middle;
    margin-left: 90px;

}

.banner h1{
    font-size: 50px;
    margin-left: 10px;
    color: darkorange;
}
.banner h2{
    font-size: 15px;
    padding-left: 10px;
    font-weight: 600;
    color: rgb(160, 160, 160);
    width: 330px;
}

















::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(170, 170,170);
    opacity: 1; /* Firefox */
} 
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(170, 170, 170);
} 
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(170, 170, 170);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
}

