body{
    background-color: black;
}
.app{
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 100;
    position: relative;
    background-color: black;
}
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}
.fade-exit {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    
}
.fade-exit-active {
    opacity: 0;
}