.landing{
    display: block;
    height: 100vh;
    background: rgb(20, 20, 20);
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info_container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

}
.landing h3{
    display: block;
    padding: 10px;
    color: white;
    background-color: darkorange;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: min(25px, 4vw);
    font-weight: 900;
    margin: 5px;
}
.title{
    display: inline-block;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: max(7vw, 40px);
    text-align: left;
    background-color: rgb(221, 221, 221);
    padding: 5px;
}

.subtitle{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    font-size: min(25px, 5vw);

    border-radius: 5px;
    margin: 5px 5px 0 0;
}


.btn{
    margin-top: 30px;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 7px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    top: 85vh;
    height: 35px;
    z-index: 0;
}
.btn:hover{
    border: none;
}


.landing h3 span{
    font-size: 12px;
    display: block;
    color: black;
    font-weight: 900;
}

.landing .btn span{
    font-size: 30px;
    margin:0;
    padding:0;
    color: darkorange;
    animation: bounce 1s ease-in-out 3s forwards infinite;
}
@keyframes bounce{
    0% {transform: translateY(5px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(5px);}
}

