.desktop_navbar{
    background-color: transparent;
    display: block;
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 55px;
    padding-top: 0px;
    overflow: hidden;
    transition: background-color 1s ease-in-out;
    visibility: hidden;

}
.desktop_navbar .middle{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
.desktop_navbar  li{
    display: inline-block;
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    list-style-type: none;
    height: 30px;
}

.desktop_navbar li .link:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.desktop_navbar li .link:hover:after {
    width: 100%;
    background: white;
}
.desktop_navbar li .link{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.desktop_navbar .login_button_container{
    float: right;
    margin-right: 20px;
    padding: 0;
    margin-top: 14px;
}
.desktop_navbar .login_button{
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: transparent;
    font-size: 16px;
    border: none;
    margin: 5px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.desktop_navbar .login_button:after {
    content: '';
    display: block;
    margin-top: 3px;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.desktop_navbar .login_button:hover:after {
    width: 100%;
    background: white;
}


.desktop_navbar .logo{
    margin-left: 15px;
    padding: 5px;
    float: left;
    color: white;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
}



.navbar_container{
    padding: 0;
    margin: 0;
    width: 100vw;
    position: fixed;
    z-index: 6;
}

.phone_hamburger{
    padding:0;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 0;
    padding: 15px;
    font-size: 30px;
    background: transparent;
    color: white;
    border: none;
    transition: opacity 1s ease-in-out 0.5s;
}
.phone_navbar{
    margin:0;
    padding:0;
    background: transparent;
    text-align: center;
    height: 0;
    overflow: hidden;
    background-color: darksalmon;
    transition: height 1s ease-in-out;
}
.phone_navbar .close_navbar{
    background: transparent;
    position: relative;
    padding: 15px;
    font-size: 30px;
    background: transparent;
    color: white;
    border: none;
    float: right;
}

.phone_navbar li{
    display: block;
    list-style-type: none;
    margin: 30px;
}

.phone_navbar li .link{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 34px;
}


.phone_navbar li .link:hover{
    transform: scale(1.1);
}

.phone_navbar .login_button{
    margin-right: 20px;
    padding: 0;
}
.phone_navbar .logo{
    margin-left: 15px;
    padding: 5px;
    color: black;
    border: 2px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
}